body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.card {
  border-radius: 1rem 0 0 0;
}

.center-btn {
  text-align: center;
}

.height-box {
  display: flex;
}

.height-box .inches {
  padding-left: 1em;
  flex: 2;
}

.height-box .inches label {
  text-align: center;
}

.pResults {
  font-style: italic;
}


/*<form action="#">
  <p>Sex:
    <input name="sex" type="radio" id="male" />
    <label for="male">Male</label>
    <input name="sex" type="radio" id="female" />
    <label for="female">Female</label>
  </p>
</form>*/
