body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.card {
  border-radius: 2rem 0 0 0;
}

.card-top-row {
  padding-top: 8px;
  height: 18rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  overflow: scroll;
}

.card-top-row::after {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card-top-row:hover {
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
}

.card:hover::after {
  opacity: 1;
}

.divider {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.input-field label {
  color: #000;
}

::-webkit-input-placeholder {
  color: #747269;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

.row {
  margin-bottom: 0px;
}

.pResults {
  font-style: italic;
}

h5 {
  font-size: 1.5rem;
}

.logo-wrapper {
  display: flex;
  flex: 1;
  justify-content: center;
}

.logo {
  width: 350px;
  height: 350px;
}

.logo-hide {
  display: none;
}

.loading-hide {
  display: none;
}

.finalResults-hide {
  display: none;
}

.canvas-wrapper {
  max-height: 450px;
  max-width: 450px;
}
